<div class="container pt-3">
  <%= render 'search', url: boards_path %>
  <!-- 掲示板一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @boards.present? %>
          <%= render @boards %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
  <%= paginate @boards, theme: 'twitter-bootstrap-4' %>
</div>
<% content_for(:title, (t'.title')) %>
